<h2>BDWM 关键词订阅服务</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>版面</th>
      <th>关键词</th>
      <th>Email</th>
      <th>IP</th>
      <% if params[:email] %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |sub| %>
    <tr>
      <td><%= sub.board.name %></td>
      <td><%= escape_html sub.keywords %></td>
      <td><%= escape_html sub.email.sub(/(.{3})([^@]+)/) { $1 + "*"*$2.length } %></td>
      <td><%= sub.ip.sub(/\d+\Z/, "*") %></td>
      <% if params[:email] %>
      <% if params[:email] == sub.email %>
        <td><a href="/delete?email=<%= params[:email] %>&id=<%= sub.id %>">退订</a></td>
      <% else %>
        <td></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<form class="form-inline" method="post">
  <input type="text" class="form-control" name="board" placeholder="版面" required>
  <input type="text" class="form-control" name="keywords" placeholder="关键词，用空格分隔" style="min-width: 280px;" required>
  <input type="email" class="form-control" name="email" placeholder="Email" required value="<%= params[:email] %>">
  <button type="submit" class="btn btn-default">新增</button>
</form>

<div class="text-center" style="margin: 30px; color: #AAA;">
  <small>
    这个项目的源代码托管在 <a href="https://github.com/liudangyi/bdwm-subscriber" target="_blank" style="color: #AAA;">Github</a><br>  
    问题与报告滥用请联系 <a href="mailto:LeedyPKU@gmail.com" style="color: #AAA;">LeedyPKU@gmail.com</a>
  </small>
</div>
